ruby:
  require 'cgi'
  $cgi = CGI.new
  puts $cgi.http_header "text/html"

  $errors = []

  require './src/data.rb'
  require './src/log.rb'

  key = $cgi['']

  $writable = true

  begin
  $paste = case $cgi.path_info
  when "/view"
      $writable = false
    Paste.find_by! read_key: key
  when "/edit"
    Paste.find_by! write_key: key
  when "/"
    Paste.new
  else 
    raise "Unknown #{$cgi.path_info}"
  end

  rescue Exception => ex
    $errors << ex
    if $paste.nil?
      $paste = Paste.new
      $writable = true
    end
  end

  begin
    $rev = $cgi.has_key?("rev") ? $cgi["rev"] : nil
    $content = $paste.content $rev
  rescue Exception => ex 
    $errors << ex
    $content = $paste.content
  end

  if $cgi.request_method == "POST" && $writable
    begin
      $paste.save unless $paste.persisted? and not $paste.changed?
      raise "No change with last revision" if $cgi.form["content"].first == $paste.content
      $paste.revisions.create!(content: $cgi.form["content"].first, name: $cgi.form["name"].first.empty? ? nil : $cgi.form["name"].first)
      $content = $paste.content
    rescue Exception => ex
      $errors << ex
    end
  end

doctype html
html
head
body
  #title_area
    h1#title=$paste.title
    - if $rev
      span#rev= "Showing revision #{$rev}"
      a#latest[href=($writable ? $paste.edit_link : $paste.view_link)] go to latest
    - if $paste.new_record?
      span#unsaved unsaved
  #flex
    #left
      #editor= $content
    #right
      - for e in $errors
        p#error=e
      - if $writable
        form#revform[action=$paste.edit_link method="post"]
          label New Revision:  
          input[placeholder="Revision #{$paste.revisions.length + 1}" name="name"]
          input#content_input[type="hidden" name="content"]
          button save
        br
      h1 History
      - for rev in $paste.revisions.order(revision_id: :desc)
        span
          | (#{rev.revision_id})  
          a[href=($writable ? rev.edit_link : rev.view_link)]= rev.name
        br
      br
      - unless $paste.new_record?
        a[href=$paste.view_link] view link
        br
        - if $writable 
          a[href=$paste.edit_link] edit link

script src="/static/ace/ace.js"
javascript:
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.setOptions({
    wrap: true,
    fontSize: 20,
    readOnly: #{!$writable}
  });
  editor.session.on('change', on_change);
  on_change()

  function on_change(delta) {
    document.getElementById('content_input').value = editor.getValue()
  }

css:
  #title_area * {
    padding-right: 5px;
  }
  
  h1#title {
    display: inline-block;
  }
  
  p#error {
    margin: 0;
    padding-top: 10px;
    color: red;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  
  #flex {
    flex: 1;
  }

  #left {
    resize: horizontal;
    overflow: auto;
    width: 75%;
  }

  #right {
    margin-left: 10px;
  }

  #left, #right {
    height: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  html, body, #editor {
    height: 100%;
    padding: 0;
    margin: 0;
  }
